<div id="log" class="navbar-form navbar-right">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="username-field" type="text" class="form-control" name="username" value="" placeholder="Username">
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password-field" type="password" class="form-control" name="password" value="" placeholder="Password">
    </div>

    <button id="btn-login" class="btn btn-primary">Login</button> <a href="#/register">or Register!</a>
</div>>