<div class="container" style="margin-top: 100px;">
    <h1 class="well">Registration Form</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Username:</label>
                            <input id="username-register" type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Password:</label>
                            <input id="password-register" type="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="col-sm-8 form-group">
                            <label>E-mail:</label>
                            <input id="email-register" type="email" placeholder="Email" class="form-control">
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Display name:</label>
                            <input id="displayName-register" type="text" placeholder="Display name" class="form-control">
                        </div>
                    </div>
                    <button id="btn-register" type="button" class="btn btn-lg btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>